{% extends "base.html" %}
{% block main %}
  <div class="container-fluid">


        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <!-- <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li> -->
          <li class="breadcrumb-item active">Accueil</li>
        </ol>

    {% if todo != 0 %}
    <div class="alert alert-danger" role="alert">
      Vous avez {{ todo }} session(s) non attribuée(s), cliquez <a href="/tablessession" class="alert-link">ici</a> pour régulariser votre situation.
    </div>
    {% endif %}

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
          Feuille de présence</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable-custom" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Identifiant</th>
                    <th>Photo</th>
                  </tr>
                </thead>
                <tbody>
                  {% for badge in badges %}
                  <tr>
                    <td><a href="/module/{{ module.id }}">{{ module.nom }}</a></td>
                    <td><a href = "https://trombi.imtbs-tsp.eu/photo.php?uid={{ badge.ldap_student.login }}&h=500&w=500"><img class="img-profile rounded-circle logo-nav" src = "https://trombi.imtbs-tsp.eu/photo.php?uid={{ badge.ldap_student.login }}&h=50&w=50"></img\></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Total: {{ badges|count }} module(s)</div>
        </div>

        <!-- Area Chart Example
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Area Chart Example</div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
      -->
{% endblock %}
