{% extends "base.html" %}
{% block main %}
  <div class="container-fluid">


        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <!-- <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li> -->
          <li class="breadcrumb-item active">Accueil</li>
        </ol>

    {% if data['todo'] != 0 %}
    <div class="alert alert-danger" role="alert">
      Vous avez {{ data['todo'] }} session(s) non attribuée(s), cliquez <a href="/tablessession" class="alert-link">ici</a> pour régulariser votre situation.
    </div>
    {% endif %}

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Mes modules</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable-custom" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Module</th>
                  </tr>
                </thead>
                <tbody>
                  {% for session in data['modules'] %}
                  <tr>
                    <td><a href="/module/{{ session.module.id }}">{{ session.module.nom }}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Total: {{ session.modules|count }} modules</div>
        </div>

        <!-- Area Chart Example
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Area Chart Example</div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
      -->
{% endblock %}
