{% extends "base.html" %}
{% block main %}
      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/coordinateur">Espace coordinateur</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="/coordinateur-module/{{ module.id }}">{{ module.nom }}</a>
          </li>
          <li class="breadcrumb-item active">
            {{ intervenant.login }}
          </li>
        </ol>


	<div class="card mb-3">
	  <div class="card-header">
	    <i class="fas fa-table"></i>
            Sessions de l'intervenant {{ intervenant.login }}
	  </div>
	  <div class="card-body">
	    <div class="table-responsive">
	      <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
		<thead>
		  <tr>
		    <th>Timestamp</th>
		    <th>Présences</th>
		  </tr>
		</thead>
		<tbody>
                  {% for session in sessions %}
                  <tr>
                    <td>{{ session.timestamp }}</td>
                    <td>{{ session.presence }}</td>
                  </tr>
                  {% endfor %}
		</tbody>
	      </table>
	    </div>
	  </div>
	  <div class="card-footer small text-muted"></div>
	</div>


{% endblock %}
