{% extends "base.html" %}
{% block main %}
      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/coordonnateur">Espace coordonnateur</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="/coordonnateur-module/{{ data['module'].id }}">{{ data['module'].nom }}</a>
          </li>
          <li class="breadcrumb-item active">
            {{ data['intervenant'].login }}
          </li>
        </ol>


	<div class="card mb-3">
	  <div class="card-header">
	    <i class="fas fa-table"></i>
            Sessions de l'intervenant {{ data['intervenant'].login }}
	  </div>
	  <div class="card-body">
	    <div class="table-responsive">
	      <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
		<thead>
		  <tr>
		    <th>Timestamp</th>
		    <th>Présences</th>
		    <th>Description</th>
		  </tr>
		</thead>
		<tbody>
                  {% for session in data['sessions'] %}
                  <tr>
                    <td>{{ session['timestamp'] }}</td>
                    <td>{{ session['presence'] }}</td>
                    <td>{%if session['description'] %}{{ session['description'] }}{% endif %}</td>
                  </tr>
                  {% endfor %}
		</tbody>
	      </table>
	    </div>
	  </div>
	  <div class="card-footer small text-muted"></div>
	</div>


{% endblock %}
