{% extends "base.html" %}
{% block main %}
      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Tables</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
              Mes dernières sessions
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Timestamp</th>
                    <th>Module</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Timestamp</th>
                    <th>Module</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for badge in data['Badge'] %}
                  <tr>
                    <td><a href="/tablesusers/{{badge[1]}}">{{ badge[0].timestamp }}</a></td>
                    <td><a href="/module/{{ badge[0].module.id }}">{{ badge[0].module.nom }}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

      </div>
      <!-- /.container-fluid -->
{% endblock %}
