{% extends "base.html" %}
{% block main %}
      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Accueil</a>
          </li>
          <li class="breadcrumb-item active">Mes sessions</li>
        </ol>
        {% if (data['undefined']| count) > 0 %}
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
              Mes sessions à attribuer
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Timestamp</th>
                    <th>Module</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in data['undefined'] %}
                  <tr>
                    <td>
                      <a href="/tablesusers/{{ item.id_session }}">{{ item.timestamp }}</a>
                    </td>
                    <td>
                      <div class="input-group">
                        <form id="module{{ item.module.id }}" name="module{{ item.module.id }}" action="/tablessession" method="post">
                          <select name="newModuleId" class="selectpicker" style="width:auto" data-live-search="true" data-width="fit" data-container="body">
                            <option selected value=0>Selectionnez un module</option>
                            {% for module in data['modules'] %}
                            <option value="{{ module.id }}">{{ module.nom }}</option>
                            {% endfor %}
                          </select>
                          <input type=hidden name="type" value="moduleid">
                          <input type=hidden name="id_session" value="{{item.id_session}}">
                          <button class="btn btn-outline-success btn-sm" form="module{{ item.module.id }}" role="button" aria-pressed="true"><i class="fa fa-check"></i></button>
                        </form>
                      </div>
                    </td>
                    <td>
                    {% if item.description %}
                      {{ item.description }} 
                    {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>
        {% endif %}
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
              Mes dernières sessions
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Timestamp</th>
                    <th>Module</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in data['defined'] %}
                  <tr>
                    <td>
                      <a href="/tablesusers/{{ item.id_session }}">{{ item.timestamp }}</a>
                    </td>
                    <td>
                      <div class="input-group">
                      <span> 
                        <button class="btn modif"><i class="fa fa-pencil-alt"></i></button>
                        {{ item.module.nom }}</span>
                        <form method="POST" style="display:none">
                          <select name="newModuleId" class="selectpicker" style="width:auto" data-live-search="true" data-width="fit" data-container="body">
                            {% for module in data['modules'] %}
                            <option {% if module.id==item.module.id %} selected {% endif %} value="{{ module.id }}">{{ module.nom }}</option>
                            {% endfor %}
                          </select>
                          <input type=hidden name="type" value="moduleid">
                          <input type=hidden name="id_session" value="{{item.id_session}}">
                          <button class="btn btn-outline-success btn-sm" role="button" aria-pressed="true"><i class="fa fa-check"></i></button>
                        </form>
                      </div>
                    </td>
                    <td>
                      <span> 
                        <button class="btn modif"><i class="fa fa-pencil-alt"></i></button>
                        {% if item.description %}
                          {{item.description}} 
                          {% endif %}</span>
                      <form method="POST" style="display:none">
                        <input type=text name="newDescription" maxlength="100" value="{% if item.description %}{{item.description}}{% endif %}"></textarea>
                        <input type=hidden name="type" value="description">
                        <input type=hidden name="id_session" value="{{item.id_session}}">
                        <button class="btn"><i class="fa fa-check"></i></button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

      </div>
      <!-- /.container-fluid -->
<script>
  var boutons = document.querySelectorAll(".modif");
  for(var i = 0; i < boutons.length; i++){
    var bouton = boutons[i];
    bouton.onclick = function() {
      var cacher = this.parentNode;
      var apparaitre = cacher.parentNode.querySelector("form");
      cacher.style.display = "none"
      apparaitre.style.display = "inline-block"

    }

  }
</script>
{% endblock %}

